/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyer reset ends here */



div.image,
div.image img {
	height: 100vh;
}

div.image {
	position: relative;
}

body {
	display: flex;
	flex-direction: row;
}

.sign-up {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.intro-text>p {
	font-size: 1.3rem;
	margin-top: 5rem;
	margin-bottom: 1rem;
	width: min(600px, 100%);
}

.form>p {
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.intro-text,
.login {
	background-color: rgba(249, 250, 251, 255);
}

.intro-text {
	display: flex;
	flex-direction: column;
	padding: 50px;
}

div.form {
	background-color: rgba(255, 255, 255, 255);
	padding: 1rem 0 1rem 50px;

}

.form-bar {
	display: flex;
	flex-direction: row;

}

.form-input {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 1rem 0;
}

.form-input>label {
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
}

.form-input>input[type='text'],
.form-input>input[type='email'],
.form-input>input[type='tel'],
.form-input>input[type='password'] {
	border: 1px solid #E5E7EB;
	border-radius: 4px;
	font-size: 1rem;
}


div.login {
	padding: 25px 0 0 50px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

div.login>button {
	width: fit-content;
	margin-bottom: 1rem;
}


a {
	outline: none;

	text-decoration: none;
	padding: 2px 1px 0;
}
  
a:link {
	color: #265301;
}

#logo {
	position: absolute;
	background-color: rgba(19, 0, 0, 0.452);
	display: flex;
	flex-direction: row;
}

#logo-title {
	font-size: 5rem;
	color: #E5E7EB;
}

/* 
Goals:
Add logo
Use min() or max() to improve responsiveness. DONE?
Style links
Style button
Credit image
*/